---
import { Image } from 'astro:assets';
import heroImage from '../../assets/images/hero-image.jpg';
import '../../assets/styles/HeroSection.css';
---

<div class="hero-section container-fluid">
  <div class="hero-text">
    <h1>Software Developer</h1>
    <p class="lead">
      Hi, I'm Casey Hsu and my current goal is to become a junior developer who will work with a team to build and 
      manage applications. I recently graduated from George Brown College with honors in Computer Programming and Analysis.
    </p>
    <div class="availability">
      <p>
        <!-- using FontAwesome classes; make sure to include fontawesome CSS globally in layout -->
        <i class="fas fa-check-circle" style="color:green" aria-hidden="true"></i> Available for work from 2026 onwards
      </p>
    </div>
    <a href="/projectlist" class="btn btn-outline-light">View Projects</a>
  </div>
  <div class="hero-image">
    <Image src={heroImage} alt="Casey Hsu" />
  </div>
</div>
