---
import '../../assets/styles/PoweredBy.css';
---

<div class="powered-by-section" id="poweredby">
  <span class="powered-by-text">My portfolio is powered by</span>
  <div class="tech-icons">
    <div class="icon">
      <i class="fa-solid fa-star"></i>
      <p>Astro</p>
    </div>
    <div class="icon">
      <i class="fa-brands fa-digital-ocean"></i>
      <p>DigitalOcean</p>
    </div>
    <div class="icon">
      <i class="fab fa-node-js"></i>
      <p>Node.js</p>
    </div>
  </div>
</div>
