---
import { siAstro, siDigitalocean, siNodedotjs } from 'simple-icons';
import '../../assets/styles/PoweredBy.css';
---

<div class="powered-by-section" id="poweredby">
  <span class="powered-by-text">My portfolio is powered by</span>
  <div class="tech-icons">
    <div class="icon">
      <svg class="powered-icon" viewBox="0 0 24 24" role="img" aria-hidden="true" focusable="false">
        <path d={siAstro.path}></path>
      </svg>
      <p>Astro</p>
    </div>
    <div class="icon">
      <svg class="powered-icon" viewBox="0 0 24 24" role="img" aria-hidden="true" focusable="false">
        <path d={siDigitalocean.path}></path>
      </svg>
      <p>DigitalOcean</p>
    </div>
    <div class="icon">
      <svg class="powered-icon" viewBox="0 0 24 24" role="img" aria-hidden="true" focusable="false">
        <path d={siNodedotjs.path}></path>
      </svg>
      <p>Node.js</p>
    </div>
  </div>
</div>
